@import url('https://fonts.googleapis.com/css?family=Niramit:300,400,600');

:global(:root) {
  --light: #fff;
}

:global(section) {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}